<%= form_with(model: license, local: true) do |form| %>
  <% if license.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(license.errors.count, "error") %> prohibited this license from being saved:</h2>
      <ul>
        <% license.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :seats %>
    <%= form.number_field :seats %>
  </div>
  <div class="field">
    <%= form.label :key %>
    <%= form.text_field :key %>
  </div>
  <div class="field">
    <%= form.label :licenser_name %>
    <%= form.text_area :licenser_name %>
  </div>
  <div class="field">
    <%= form.label :licenser_email %>
    <%= form.text_area :licenser_email %>
  </div>
  <div class="field">
    <%= form.label :reassignable %>
    <%= form.text_area :reassignable %>
  </div>
  <div class="field">
    <%= form.label :cost %>
    <%= form.text_area :cost %>
  </div>
  <div class="field">
    <%= form.label :purchased_at %>
    <%= form.text_area :purchased_at %>
  </div>
  <div class="field">
    <%= form.label :expires_at %>
    <%= form.text_area :expires_at %>
  </div>
  <div class="field">
    <%= form.label :terminates_at %>
    <%= form.text_area :terminates_at %>
  </div>
  <div class="field">
    <%= form.label :maintained %>
    <%= form.text_area :maintained %>
  </div>
  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>
  <div class="field">
    <%= form.label :license_category %>
    <%= form.text_area :license_category %>
  </div>
  <div class="field">
    <%= form.label :vendor %>
    <%= form.text_area :vendor %>
  </div>
  <div class="field">
    <%= form.label :manufacturer %>
    <%= form.text_area :manufacturer %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
