<h1>Licenses</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Seats</th>
      <th>Key</th>
      <th>Licensed To Name</th>
      <th>Licensed To Email</th>
      <th>Reassignabel</th>
      <th>Cost</th>
      <th>Purchase Date</th>
      <th>Expiration Date</th>
      <th>Termination Date</th>
      <th>Maintained</th>
      <th>Notes</th>
      <th>Category</th>
      <th>Vendor</th>
      <th>Manufacturer</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @licenses.each do |license| %>
      <tr>
        <td><%= link_to license.name, license %></td>
        <td><%= license.seats %></td>
        <td><%= license.key %></td>
        <td><%= license.licenser_name %></td>
        <td><%= license.licenser_email %></td>
        <td><%= license.reassignable %></td>
        <td><%= license.cost %></td>
        <td><%= license.purchased_at %></td>
        <td><%= license.expires_at %></td>
        <td><%= license.terminates_at %></td>
        <td><%= license.maintained %></td>
        <td><%= license.notes %></td>
        <td><%= license.license_category.name %></td>
        <td><%= license.vendor.name %></td>
        <td><%= license.manufacturer.name %></td>
        <td><%= link_to 'Edit', edit_license_path(license) %></td>
        <td><%= link_to 'Destroy', license, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New License', new_license_path %>
