

<p>
  <strong>Title:</strong>
  <%= @license.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @license.description %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @license.seats %>
</p>

<p>
  <strong>Key:</strong>
  <%= @license.key %>
</p>

<%= link_to 'Edit', edit_license_path(@license) %> |
<%= link_to 'Back', licenses_path %>
