<p id="notice"><%= notice %></p>

<h1>Accessory Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Notes</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @accessory_categories.each do |accessory_category| %>
      <tr>
        <td><%= link_to accessory_category.name, accessory_category %></td>
        <td><%= accessory_category.notes %></td>
        <td>
          <%= render "shared/buttons/edit", edit_accessory_category_path(accessory_category) %>
          <%= render "shared/buttons/delete", accessory_category %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Accessory Category', new_accessory_category_path %>
