<p id="notice"><%= notice %></p>

<h1>Accessory Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accessory_categories.each do |accessory_category| %>
      <tr>
        <td><%= accessory_category.name %></td>
        <td><%= accessory_category.notes %></td>
        <td><%= link_to 'Show', accessory_category %></td>
        <td><%= link_to 'Edit', edit_accessory_category_path(accessory_category) %></td>
        <td><%= link_to 'Destroy', accessory_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Accessory Category', new_accessory_category_path %>
