<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @accessory_category.name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @accessory_category.notes %>
</p>

<%= link_to 'Edit', edit_accessory_category_path(@accessory_category) %> |
<%= link_to 'Back', accessory_categories_path %>
