<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @phone.number %>
</p>

<p>
  <strong>Extension:</strong>
  <%= @phone.extension %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @phone.notes %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @phone.contact_id %>
</p>

<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
