<div class="field">
	<%= form.label :first_name %>
	<%= form.text_field :first_name %>
</div>

<div class="field">
	<%= form.label :middle_name %>
	<%= form.text_field :middle_name %>
</div>

<div class="field">
	<%= form.label :last_name %>
	<%= form.text_field :last_name %>
</div>

<div class="field">
	<%= form.label :title %>
	<%= form.text_field :title %>
</div>

<div class="field">
	<%= form.label :manager_id %>
	<div class="select">
		<%= form.select :manager_id, options_for_select(@people.collect{ |p| ["#{p.first_name} #{p.last_name}", p.id, { selected: person.manager&.id }] }), { prompt: "-- Manager --" }, { "data-action": "" } %>
	</div>
</div>

<%= form.fields_for :owner do |owner_form| %>
	<div class="field">
		<%= owner_form.label :company_id %>
		<div class="select">
			<%= owner_form.select :company_id, options_for_select(@companies.collect{ |c| [c.name, c.id, { selected: person.company&.id }] }), { prompt: "-- Company --" }, { "data-action": "change->personform#selectCompany" } %>
		</div>
	</div>

	<div class="field">
		<%= owner_form.label :department_id %>
		<% select_options = person.company ? options_for_select(person.company.departments.collect{ |d| [d.name, d.id, { selected: d.id == person.department&.id }] }) : [] %>
		<div class="select">
			<%= owner_form.select :department_id, select_options, { prompt: "-- Department --" }, { disabled: !person.company, "data-target" => "personform.departmentSelect" } %>
		</div>
	</div>
<% end %>