

<h1>People</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Department</th>
      <th>Items</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to "#{person.first_name} #{person.last_name}", person %></td>
        <td><%= link_to person.department.name, company_department_path(person.company, person.department) if person.department %></td>
        <td><%= person.items.count %></td>
        <td>
          <%= render "shared/buttons/edit", path: edit_person_path(person) %>
          <%= render "shared/buttons/delete", path: person %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
