<p id="notice"><%= notice %></p>

<p>
  <strong>Contract type:</strong>
  <%= @contract.contract_type_id %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @contract.vendor_id %>
</p>

<p>
  <strong>System:</strong>
  <%= @contract.system %>
</p>

<p>
  <strong>Description:</strong>
  <%= @contract.description %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @contract.notes %>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
