<%= form_with(model: network, local: true) do |form| %>
  <% if network.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(network.errors.count, "error") %> prohibited this network from being saved:</h2>

      <ul>
        <% network.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :ip, "Network With Mask" %>
    <%= form.text_field :ip, value: @network.ip && "#{@network.ip}/#{@network.ip.prefix}", placeholder: "192.168.1.0/24" %>
  </div>

  <div class="field">
    <%= form.label :gateway, "Gateway" %>
    <%= form.text_field :gateway %>
  </div>

  <div class="field">
    <%= form.label :dhcp_start, "DHCP Start" %>
    <%= form.text_field :dhcp_start %>
  </div>

  <div class="field">
    <%= form.label :dhcp_end, "DHCP End" %>
    <%= form.text_field :dhcp_end %>
  </div>

  <div class="field">
    <%= form.label :vland_id, "VLAN ID" %>
    <%= form.text_field :vland_id, pattern: "[0-9]{0,4}" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
