<h1>Networks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>IP</th>
      <th>Gateway</th>
      <th>DHCP Start</th>
      <th>DHCP End</th>
      <th>VLAN ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @networks.each do |network| %>
      <tr>
        <td><%= network.name %></td>
        <td><%= "#{network.ip}/#{network.ip.prefix}" %></td>
        <td><%= network.gateway %></td>
        <td><%= network.dhcp_start %></td>
        <td><%= network.dhcp_end %></td>
        <td><%= network.vlan_id %></td>
        <td><%= link_to 'Show', network %></td>
        <td><%= link_to 'Edit', edit_network_path(network) %></td>
        <td><%= link_to 'Destroy', network, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Network', new_network_path %>
