

<p>
  <strong>Name:</strong>
  <%= @network.name %>
</p>

<p>
  <strong>Ipv4:</strong>
  <%= @network.ipv4 %>
</p>

<p>
  <strong>V4 mask:</strong>
  <%= @network.v4_mask %>
</p>

<p>
  <strong>V4 gateway:</strong>
  <%= @network.v4_gateway %>
</p>

<p>
  <strong>V4 dhcp start:</strong>
  <%= @network.v4_dhcp_start %>
</p>

<p>
  <strong>V4 dhcp end:</strong>
  <%= @network.v4_dhcp_end %>
</p>

<p>
  <strong>Vland:</strong>
  <%= @network.vland_id %>
</p>

<%= link_to 'Edit', edit_network_path(@network) %> |
<%= link_to 'Back', networks_path %>
