<div class="container">
  
  <h1 class="inline-block"><%= @network.name %></h1>

  <div class="float-right inline-block">
    <%= link_to 'Edit', edit_network_path(@network) %> |
    <%= link_to 'Back', networks_path %>
  </div>
  
  <div>
    <table>
      <tbody>
        <tr>
          <td>Network:</td>
          <td><%= "#{@network.ip}/#{@network.ip.prefix}" %></td>
        </tr>

        <tr>
          <td>Gateway:</td>
          <td><%= @network.gateway %></td>
        </tr>

        <tr>
          <td>DHCP Start:</td>
          <td><%= @network.dhcp_start %></td>
        </tr>

        <tr>
          <td>DHCP End:</td>
          <td><%= @network.dhcp_end %></td>
        </tr>

        <tr>
          <td>VLAN ID:</td>
          <td><%= @network.vland_id %></td>
        </tr>

        <tr>
          <td>Network Address:</td>
          <td><%= @network.ip.to_s %></td>
        </tr>

        <tr>
          <td>Broadcast Address:</td>
          <td><%= @network.ip | ~(IPAddr.new("255.255.255.255").mask(@network.ip.prefix)) %></td>
        </tr>

        <tr>
          <td>Number of Hosts</td>
          <td><%= @network.ip.to_range.count - 2 %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <h2>Addresses</h2>

  <div>
    <table>
      <thead>
        <tr>
          <th>Address</th>
          <th>Host</th>
        </tr>
      </thead>

      <tbody>
        <% @network.ip.to_range.to_a[1..-2].each do |ip| %>
          <tr>
            <td><%= ip %></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>