<%= form_with(model: custom_fieldset_association, local: true) do |form| %>
  <% if custom_fieldset_association.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(custom_fieldset_association.errors.count, "error") %> prohibited this custom_fieldset_association from being saved:</h2>

      <ul>
        <% custom_fieldset_association.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :custom_fieldset_id %>
    <%= form.text_field :custom_fieldset_id %>
  </div>

  <div class="field">
    <%= form.label :fieldable_id %>
    <%= form.text_field :fieldable_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
