<p id="notice"><%= notice %></p>

<h1>Custom Fieldset Associations</h1>

<table>
  <thead>
    <tr>
      <th>Custom fieldset</th>
      <th>Fieldable</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @custom_fieldset_associations.each do |custom_fieldset_association| %>
      <tr>
        <td><%= custom_fieldset_association.custom_fieldset_id %></td>
        <td><%= custom_fieldset_association.fieldable_id %></td>
        <td><%= link_to 'Show', custom_fieldset_association %></td>
        <td><%= link_to 'Edit', edit_custom_fieldset_association_path(custom_fieldset_association) %></td>
        <td><%= link_to 'Destroy', custom_fieldset_association, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Custom Fieldset Association', new_custom_fieldset_association_path %>
