

<h1>Items Assignments</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Person</th>
      <th>Department</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items_assignments.each do |items_assignment| %>
      <tr>
        <td><%= items_assignment.item_id %></td>
        <td><%= items_assignment.person_id %></td>
        <td><%= items_assignment.department_id %></td>
        <td><%= items_assignment.active %></td>
        <td><%= link_to 'Show', items_assignment %></td>
        <td><%= link_to 'Edit', edit_items_assignment_path(items_assignment) %></td>
        <td><%= link_to 'Destroy', items_assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Items Assignment', new_items_assignment_path %>
