<%= form_with(model: phone_type, local: true) do |form| %>
  <% if phone_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(phone_type.errors.count, "error") %> prohibited this phone_type from being saved:</h2>

      <ul>
        <% phone_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
