<p id="notice"><%= notice %></p>

<h1>Custom Fieldsets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @custom_fieldsets.each do |custom_fieldset| %>
      <tr>
        <td><%= custom_fieldset.name %></td>
        <td><%= custom_fieldset.description %></td>
        <td><%= link_to 'Show', custom_fieldset %></td>
        <td><%= link_to 'Edit', edit_custom_fieldset_path(custom_fieldset) %></td>
        <td><%= link_to 'Destroy', custom_fieldset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Custom Fieldset', new_custom_fieldset_path %>
