<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @custom_fieldset.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @custom_fieldset.description %>
</p>

<%= link_to 'Edit', edit_custom_fieldset_path(@custom_fieldset) %> |
<%= link_to 'Back', custom_fieldsets_path %>
