<%= form_with(model: nic, local: true) do |form| %>
  <% if nic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nic.errors.count, "error") %> prohibited this nic from being saved:</h2>

      <ul>
        <% nic.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :mac %>
    <%= form.text_field :mac %>
  </div>

  <div class="field">
    <%= form.label :item_id %>
    <%= form.text_field :item_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
