<div class="container">
  <div class="column">
    <div class="row justify-between">
      <h1><%= @department.name %></h1>

      <%= link_to 'Edit', edit_department_path(@department) %>
    </div>

    <div class="row">
      <table>
        <thead>
          <tr>
            <th>Employee</th>
            <th>Title</th>
            <th>Assets</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @department.people.each do |person| %>
            <tr>
              <td><%= "#{person.first_name} #{person.last_name}" %></td>
              <td><%= person.title %></td>
              <td><%= person.items.count %></td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>