<p id="notice"><%= notice %></p>

<p>
  <strong>Asset:</strong>
  <%= @assets_assignment.asset_id %>
</p>

<p>
  <strong>Person:</strong>
  <%= @assets_assignment.person_id %>
</p>

<p>
  <strong>Department:</strong>
  <%= @assets_assignment.department_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @assets_assignment.active %>
</p>

<%= link_to 'Edit', edit_assets_assignment_path(@assets_assignment) %> |
<%= link_to 'Back', assets_assignments_path %>
