<p id="notice"><%= notice %></p>

<p>
  <strong>Fieldset:</strong>
  <%= @fieldset_association.fieldset_id %>
</p>

<p>
  <strong>Fieldable:</strong>
  <%= @fieldset_association.fieldable_id %>
</p>

<%= link_to 'Edit', edit_fieldset_association_path(@fieldset_association) %> |
<%= link_to 'Back', fieldset_associations_path %>
