<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Locations</th>
      <th>Departments</th>
      <th>Assets</th>
      <th>People</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= link_to company.name, company %></td>
        <td><%= company.locations.count %></td>
        <td><%= company.departments.count %></td>
        <td><%= company.items.count %></td>
        <td><%= company.people.count %></td>
        <td>
          <%= render "shared/buttons/edit", path: edit_company_path(company) %>
          <%= render "shared/buttons/delete", path: company %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Company', new_company_path %>
