<div class="container">
  <div class="column">

    <div class="row justify-between">
      <h1 class="flex-initial"><%= @company.name %></h1>
      <div class="flex-grow-0">
        <%= link_to 'Edit', edit_company_path(@company) %>
      </div>
    </div>

    <div class="row">

      <div class="form-columns">
        <h2>Locations</h2>

        <div class="flex-1">
          <%= render "locations/table", locations: @company.locations %>
        </div>

        <%= link_to 'New Location', new_company_location_path(@company) %>
      </div>

    </div>

    <div class="row">

      <div class="form-columns">
        <h2>Departments</h2>

        <div class="flex-1">
          <%= render "departments/table", departments: @company.departments %>    
        </div>

        <%= link_to 'New Department', new_company_department_path(@company) %>
      </div>

    </div>

  </div>
</div>