<h1><%= @company.name %></h1>


<div class="flex">

  <div class="flex-1">
    <h2>Locations</h2>

    <%= render "locations/table", locations: @company.locations %>

    <%= link_to 'New Location', new_company_location_path(@company) %>
  </div>


  <div class="flex-1">
    <h2>Departments</h2>

    <%= render "departments/table", departments: @company.departments %>    

    <%= link_to 'New Department', new_company_department_path(@company) %>
  </div>

</div>

<br />

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
