<p id="notice"><%= notice %></p>

<h1>Address Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @address_types.each do |address_type| %>
      <tr>
        <td><%= link_to address_type.name, address_type %></td>
        <td>
          <%= render "shared/buttons/edit", edit_address_type_path(address_type) %>
          <%= render "shared/buttons/delete", address_type %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Address Type', new_address_type_path %>
