<% link_file = "layouts/application/link" %>

<nav class="links">
	<ul>
		<%= render link_file, locals: { text: 'Inventory', path: items_path, icon: :important_devices } %>
		<%= render link_file, locals: { text: 'Accessories', path: accessories_path, icon: :keyboard } %>
		<%= render link_file, locals: { text: 'Consumeables', path: consumeables_path, icon: :opacity } %>
		<%= render link_file, locals: { text: 'Licenses', path: licenses_path, icon: :save } %>
		<%= render link_file, locals: { text: 'People', path: people_path, icon: :people } %>
		<%= render link_file, locals: { text: 'Vendors', path: vendors_path, icon: :business } %>
		<%= render link_file, locals: { text: 'Purchases', path: purchases_path, icon: :shopping_cart } %>
		<li><a href="/"><span>Settings</span><%= mi.settings %></a>
			<ul>
				<li><%= link_to 'Companies', companies_path %></li>
				<li><%= link_to 'Manufacturers', manufacturers_path %></li>
				<li><%= link_to 'Models', models_path %></li>
			</ul>
		</li>
	</ul>
</nav>