<div class="flex items-center justify-center">
  <div class="w-full max-w-xs max-w-xs sm">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" }) do |f| %>

      <div class="mb-4">
        <%= f.label :email, html: { class: "block text-gray-700 text-sm font-bold mb-2" } %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="mb-6">
        <%= f.label :password, html: { class: "block text-gray-700 text-sm font-bold mb-2" } %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>


      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="flex items-center justify-between">
        <%= f.submit "Log in" %>
        <div class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">
          <%= link_to "Forgot your password?", new_password_path(resource_name) %>
        <div>
      </div>

    <% end %>

  </div>
</div>