<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @warranty.item_id %>
</p>

<p>
  <strong>Length:</strong>
  <%= @warranty.length %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @warranty.notes %>
</p>

<%= link_to 'Edit', edit_warranty_path(@warranty) %> |
<%= link_to 'Back', warranties_path %>
