<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @asset.title %>
</p>

<p>
  <strong>Model:</strong>
  <%= @asset.model %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @asset.serial %>
</p>

<p>
  <strong>Description:</strong>
  <%= @asset.description %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @asset.notes %>
</p>

<p>
  <strong>Consumeable:</strong>
  <%= @asset.consumeable %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @asset.qty %>
</p>

<p>
  <strong>Os:</strong>
  <%= @asset.os %>
</p>

<p>
  <strong>Memory:</strong>
  <%= @asset.memory %>
</p>

<p>
  <strong>Storage:</strong>
  <%= @asset.storage %>
</p>

<p>
  <strong>Cpu:</strong>
  <%= @asset.cpu %>
</p>

<p>
  <strong>Cpu speed:</strong>
  <%= @asset.cpu_speed %>
</p>

<p>
  <strong>Gpu:</strong>
  <%= @asset.gpu %>
</p>

<p>
  <strong>Gpu speed:</strong>
  <%= @asset.gpu_speed %>
</p>

<p>
  <strong>Gpu memory:</strong>
  <%= @asset.gpu_memory %>
</p>

<p>
  <strong>Asset category:</strong>
  <%= @asset.asset_category_id %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @asset.brand_id %>
</p>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
