<%= form_with(model: network_interface, local: true) do |form| %>
  <% if network_interface.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(network_interface.errors.count, "error") %> prohibited this network_interface from being saved:</h2>

      <ul>
        <% network_interface.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :mac %>
    <%= form.text_area :mac %>
  </div>

  <div class="field">
    <%= form.label :item_id %>
    <%= form.text_field :item_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
