

<h1>Network Interfaces</h1>

<table>
  <thead>
    <tr>
      <th>Mac</th>
      <th>Item</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @network_interfaces.each do |network_interface| %>
      <tr>
        <td><%= network_interface.mac %></td>
        <td><%= network_interface.item_id %></td>
        <td><%= link_to 'Show', network_interface %></td>
        <td><%= link_to 'Edit', edit_network_interface_path(network_interface) %></td>
        <td><%= link_to 'Destroy', network_interface, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Network Interface', new_network_interface_path %>
