
<div class="field">
  <%= form.label :address %>
  <%= form.text_area :address %>
</div>

<div class="field">
  <%= form.label :address_2 %>
  <%= form.text_area :address_2 %>
</div>

<div class="field">
  <%= form.label :city %>
  <%= form.text_area :city %>
</div>

<div class="field">
  <%= form.label :state %>
  <%= form.text_area :state %>
</div>

<div class="field">
  <%= form.label :zip %>
  <%= form.text_area :zip %>
</div>

<div class="field">
  <%= form.label :notes %>
  <%= form.text_area :notes %>
</div>