<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :asset_tag %>
    <%= form.text_field :asset_tag %>
  </div>

  <div class="field">
    <%= form.label :serial %>
    <%= form.text_field :serial %>
  </div>

  <div class="field">
    <%= form.label :model_id %>
    <div class="select">
      <%= form.select :model_id, options_for_select(@models.collect{ |m| ["#{m.manufacturer.name} - #{m.name}", m.id] }), prompt: "-- Model --" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :vendor_id %>
    <div class="select">
      <%= form.select :vendor_id, options_for_select(@vendors.collect{ |v| [v.name, v.id] }), prompt: "-- Vendor --" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.text_field :cost %>
  </div>

  <div class="field">
    <%= form.label :purchase_date %>
    <%= form.text_field :purchase_date %>
  </div>

  <div class="field">
    <%= form.label :default_location_id %>
    <div class="select">
      <%= form.select :default_location_id, options_for_select(@locations.collect{ |l| [l.name, l.id] }), prompt: "-- Default Location --" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
