<div class="container">
	<h1>Checkout Asset</h1>

	<div class="column">
		<div class="row">
			<div class="cell sm:w-1/6 sm:text-right">Model:</div>
			<div class="cell sm:w-5/6"><%= @asset.model.name %></div>
		</div>
	</div>

	<%= simple_form_for @assignment do |form| %>

		<%= form.simple_fields_for @asset do |asset| %>
			<%= asset.input :title, label: "Asset Name" %>
		<% end %>

		<div data-controller="checkout">
			Checkout To:
			<span class="radio-buttons" data-action="click->checkout#buttons">
				<input type="radio" id="checkout_user" name="checkout_type" value="user" checked />
				<label for="checkout_user">User</label>
				<input type="radio" id="checkout_asset" name="checkout_type" value="asset" />
				<label for="checkout_asset">Asset</label>
				<input type="radio" id="checkout_location" name="checkout_type" value="location" />
				<label for="checkout_location">Location</label>
			</span>

			<div data-target="checkout.input"></div>
		</div>


		<%= form.input :date_assigned %>
		<%= form.input :date_expected %>
		<%= form.input :notes %>

		<%= form.submit %>
	<% end %>

</div>