<div class="container">
	<h1>Checkout Asset</h1>

	<div class="column">
		<div class="row">
			<div class="cell sm:w-1/6 sm:text-right">Model:</div>
			<div class="cell sm:w-5/6"><%= @asset.model.name %></div>
		</div>
	</div>

	<%= simple_form_for @asset do |form| %>
		<%= form.input :title, label: "Asset Name" %>
		<div>Checkout To:</div>
		<%= form.input :date_assigned %>
		<%= form.input :date_expected %>
		<%= form.input :notes %>
	<% end %>

</div>