%h1 Create Item

= form_for @item do |f|
  = f.text_field :title
  = f.text_field :model
  = f.text_field :serial
  = f.text_field :description
  = f.text_field :notes
  = f.select :item_category, @item_categories
  = f.check_box :consumeable
  = f.text_field :qty
  = f.text_field :os
  = f.text_field :memory
  = f.text_field :storage
  = f.text_field :cpu
  = f.text_field :cpu_speed
  = f.text_field :gpu
  = f.text_field :gpu_speed
  = f.text_field :gpu_memory