<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Model:</strong>
  <%= "#{@item.model.manufacturer.name} - #{@item.model.name}" %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @item.serial %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @item.notes %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
