

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Model:</strong>
  <%= @item.model %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @item.serial %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @item.notes %>
</p>

<p>
  <strong>Consumeable:</strong>
  <%= @item.consumeable %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @item.qty %>
</p>

<p>
  <strong>Os:</strong>
  <%= @item.os %>
</p>

<p>
  <strong>Memory:</strong>
  <%= @item.memory %>
</p>

<p>
  <strong>Storage:</strong>
  <%= @item.storage %>
</p>

<p>
  <strong>Cpu:</strong>
  <%= @item.cpu %>
</p>

<p>
  <strong>Cpu speed:</strong>
  <%= @item.cpu_speed %>
</p>

<p>
  <strong>Gpu:</strong>
  <%= @item.gpu %>
</p>

<p>
  <strong>Gpu speed:</strong>
  <%= @item.gpu_speed %>
</p>

<p>
  <strong>Gpu memory:</strong>
  <%= @item.gpu_memory %>
</p>

<p>
  <strong>Item category:</strong>
  <%= @item.item_category_id %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @item.brand_id %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
