<%= form_with(model: ip_lease, local: true) do |form| %>
  <% if ip_lease.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ip_lease.errors.count, "error") %> prohibited this ip_lease from being saved:</h2>

      <ul>
        <% ip_lease.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nic_id %>
    <%= form.text_field :nic_id %>
  </div>

  <div class="field">
    <%= form.label :ip %>
    <%= form.text_field :ip %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
