<p id="notice"><%= notice %></p>

<h1>Ip Leases</h1>

<table>
  <thead>
    <tr>
      <th>Nic</th>
      <th>Ip</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ip_leases.each do |ip_lease| %>
      <tr>
        <td><%= ip_lease.nic_id %></td>
        <td><%= ip_lease.ip %></td>
        <td><%= ip_lease.active %></td>
        <td><%= link_to 'Show', ip_lease %></td>
        <td><%= link_to 'Edit', edit_ip_lease_path(ip_lease) %></td>
        <td><%= link_to 'Destroy', ip_lease, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ip Lease', new_ip_lease_path %>
