<p id="notice"><%= notice %></p>

<p>
  <strong>Nic:</strong>
  <%= @ip_lease.nic_id %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @ip_lease.ip %>
</p>

<p>
  <strong>Active:</strong>
  <%= @ip_lease.active %>
</p>

<%= link_to 'Edit', edit_ip_lease_path(@ip_lease) %> |
<%= link_to 'Back', ip_leases_path %>
