

<p>
  <strong>Network interface:</strong>
  <%= @interfaces_ipv6.network_interface_id %>
</p>

<p>
  <strong>Ipv6 address:</strong>
  <%= @interfaces_ipv6.ipv6_address_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @interfaces_ipv6.active %>
</p>

<%= link_to 'Edit', edit_interfaces_ipv6_path(@interfaces_ipv6) %> |
<%= link_to 'Back', interfaces_ipv6s_path %>
