<p id="notice"><%= notice %></p>

<h1>Fieldsets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fieldsets.each do |fieldset| %>
      <tr>
        <td><%= fieldset.name %></td>
        <td><%= fieldset.description %></td>
        <td><%= link_to 'Show', fieldset %></td>
        <td><%= link_to 'Edit', edit_fieldset_path(fieldset) %></td>
        <td><%= link_to 'Destroy', fieldset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fieldset', new_fieldset_path %>
