<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fieldset.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fieldset.description %>
</p>

<%= link_to 'Edit', edit_fieldset_path(@fieldset) %> |
<%= link_to 'Back', fieldsets_path %>
