<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @accessory.name %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @accessory.serial %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @accessory.notes %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @accessory.qty %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @accessory.vendor_id %>
</p>

<p>
  <strong>Default location:</strong>
  <%= @accessory.default_location_id %>
</p>

<p>
  <strong>Accessory category:</strong>
  <%= @accessory.accessory_category_id %>
</p>

<p>
  <strong>Model number:</strong>
  <%= @accessory.model_number %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @accessory.cost %>
</p>

<p>
  <strong>Min qty:</strong>
  <%= @accessory.min_qty %>
</p>

<%= link_to 'Edit', edit_accessory_path(@accessory) %> |
<%= link_to 'Back', accessories_path %>
