<p>
  <strong>Name:</strong>
  <%= @accessory.name %>
</p>

<p>
  <strong>Item:</strong>
  <%= @accessory.item_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @accessory.description %>
</p>

<%= link_to 'Edit', edit_accessory_path(@accessory) %> |
<%= link_to 'Back', accessories_path %>
