<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @consumable.name %>
</p>

<p>
  <strong>Model number:</strong>
  <%= @consumable.model_number %>
</p>

<p>
  <strong>Min qty:</strong>
  <%= @consumable.min_qty %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @consumable.qty %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @consumable.cost %>
</p>

<p>
  <strong>Requestable:</strong>
  <%= @consumable.requestable %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @consumable.notes %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @consumable.manufacturer_id %>
</p>

<p>
  <strong>Consumable category:</strong>
  <%= @consumable.consumable_category_id %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @consumable.vendor_id %>
</p>

<p>
  <strong>Default location:</strong>
  <%= @consumable.default_location_id %>
</p>

<%= link_to 'Edit', edit_consumable_path(@consumable) %> |
<%= link_to 'Back', consumables_path %>
