<!DOCTYPE html>
<html>
  <head>
    <title>Inventory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <%= render "layouts/application/alerts" %>

      <%= render "layouts/application/sidebar" %>

      <main id="content">
        <div id="content-wrapper">
          <%= yield %>
        </div>
      </main>

      </div>
  </body>
</html>
