<!DOCTYPE html>
<html>
  <head>
    <title>Inventory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-controller="layout">
    <%= render "layouts/application/alerts" %>

    <div class="grid gap-0 side-bar-closed" id="grid-layout" data-target="layout.sidebar">

      <aside id="sidebar" class="bg-cyan-900 flex flex-col justify-between">
        <div>
          <div class="text-right">
            <%= mi.public_send(:menu).html(id: "sidebar-menu-toggle", "data-action" => "click->layout#toggleSidebar") %>
          </div>
          <%= render "layouts/application/nav_links" %>
        </div>

        <div>
          <%= render "layouts/application/bottom_links" %>
        </div>
      </aside>

      <header id="topbar" class="bg-cyan-400 shadow p-1">
        <div class="flex">
          <div class="flex-1">
            <% if current_user %>
              <%= render "layouts/application/active_company_picker" %>
            <% else %>
              Inventory Application
            <% end %>
          </div>
          <div class="min-w-50">

          </div>
        </div>
      </header>

      <main id="content-wrapper">
        <%= yield %>
      </main>

      <footer id="footer" class="border-gray-500 shadow pr-3 pt-1">
        <div class="flex-row-reverse flex text-gray-600">
          &copy;2020
        </div>
      </footer>

    </div>
  </body>
</html>
