<!DOCTYPE html>
<html>

<head>
  <title>Inventory</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Fonts and CSS Reset -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">

  <!-- PrismJS: Syntax Highlighting -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.13.0/themes/prism.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.13.0/prism.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.13.0/plugins/normalize-whitespace/prism-normalize-whitespace.js"></script>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/solid.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/fontawesome.css">

  <!-- Mustard UI -->
  <link rel="stylesheet" href="https://unpkg.com/mustard-ui@latest/dist/css/mustard-ui.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div id="page-wrapper">

    <aside id="sidebar">
      <!-- Side Bar -->
      <div class="sidebar sidebar-left">
        <%= render 'components/sidebar' %>
      </div>
    </aside>

    <!-- Main Content -->
    <main id="main">

      <!-- Navigation -->
      <nav>
        <%= render 'components/top_bar' %>
      </nav>

      <!-- Content -->
      <section> 
        <%= yield %>
      </section>
      
    </main>

    <!-- Footer -->
    <footer id="footer">
      <%= render 'components/footer' %>
    </footer>

  </div>

</body>

</html>
