<!DOCTYPE html>
<html>
  <head>
    <title>Inventory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/application/alerts" %>

    <div class="grid gap-0 side-bar-closed" id="grid-layout">

      <aside id="sidebar" class="bg-gray-900">
        <div class="text-right">
          <%= mi.public_send(:menu).html(id: "sidebar-menu-toggle") %>
        </div>
        <%= render "layouts/application/nav_links" %>
        <%= render "layouts/application/bottom_links" %>
      </aside>

      <header id="topbar" class="bg-gray-400 shadow p-3">Inventory Application</header>

      <main id="content-wrapper">
        <div id="content">
          <%= yield %>
        </div>
      </main>

      <footer id="footer">Footer</footer>
      
    </div>

    <%= javascript_pack_tag 'allPages' %>
  </body>
</html>
